header {
    background-color: black;
  }

  .logo, .badge {
    background-color: coral;
  }

  nav {
    height: 80px;
    background-color: red;
    color : white;
  }

  aside {
    height: auto;
    background-color: lightslategray;
  }

  .article4 {
    height: 400px;
    background-color: greenyellow ;
  }

  footer {
    height: 200px;
    background-color: black;
    color : gainsboro;
  }

  .card-black {
      background-color: black;
      color : white;
  }

  body {
      background-color : red;
  }

  .img-content {
      height : 30%;
  }

  .card-top {
      background-color: pink;
  }