header {
    background-color: black;
  }

  .logo, .badge {
    background-color: coral;
  }

  nav {
    height: 80px;
    background-color: red;
    color : white;
  }

  aside {
    height: auto;
    background-color: lightslategray;
  }

  .article4 {
    height: 400px;
    background-color: greenyellow ;
  }

  footer {
    min-height: 100px;
    background-color: black;
    color : gainsboro;
  }

  .card-black {
      background-color: black;
      color : white;
  }

  body {
      background-color : red;
  }

  .card-top {
      background-color: pink;
      min-height : 165px;
  }

  .navigation {
      background-color: white;
  }

  .white {
      background-color: white;
  }

  .aeration {
      height : 1em;
  }

  .justify {
      text-align : justify
  }

  .black {
      background-color: black;
      color : white;
  }

  .card-pitch {
    height : 350px;
  }

  .card-who {
    height : 330px;
  }

  .img-who {
    max-height : 220px;
    width : auto;
  }

  .presentation-card {
    min-height : 200px;
  }

  .card-index {
    min-height : 160px;
  }

  .taille-vignette-index {
    background-size: cover;
    height : 200px;
  }

  .card-pink{
    background-color: pink;
  }